<%= link_to correntista_path(current_user.correntista_id), class:"btn btn-default" do  %><i class="fa fa-step-backward "></i> Voltar <% end %>
<h2>Visualização de Contas</h2>
<p id="notice"><%= notice %></p>
<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Exibição das suas Contas
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Correntista</th>
                <th>Conta ativa?</th>
                <th>Data de Criação</th>
                <th>Última atualização</th>
                <th>Saldo R$</th>
                <th>Ações Para Contas</th>
              </tr>
            </thead>
            <tbody>
              <% @conta.ativa.each do |conta| %>
              <tr>
                <td><%= conta.id %></td>
                <td><%= conta.correntista_id %></td>
                <td><%= conta.flag_ativo %></td>
                <td><%= conta.created_at.strftime("%m/%d/%Y - %H:%M") %></td>
                <td><%= conta.updated_at.strftime("%m/%d/%Y - %H:%M") %></td>
                <td><%= number_to_currency(conta.saldo,:format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></td>
                <td>
                  <%= link_to 'Show', conta, class:"btn btn-primary" %>
                  <% if conta.saldo > 0 %>

                  <% else %>
                  <%= link_to 'Desativar Conta', correntista_conta_path(current_user.correntista_id, conta ), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>

                  <% end %>
                </td>

              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
